<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>¿Quiénes somos?</ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">
  <section class="parallax bg-logo box-1 flex-item-1"></section>

  <div class="margin-1">
    <section>
      <div class="box-title">
        <span>Proyecto</span>
      </div>
    </section>

    <div class="flex-row">
      <section class="text-section box-1 flex-item-1">
        <p>
          Los Sitios Permanentes de Calibración y Monitoreo de la Biodiversidad (SiPeCaM) es un proyecto nacional que
          tiene como objetivo reconocer la importancia en que la biodiversidad está asociada al bienestar de la salud
          humana en relación con las enfermedades zoonóticas, mediante la evaluación de la condición de los ecosistemas
          terrestres en el país.
        </p>
      </section>

      <section class="text-section box-1 flex-item-1">
        <p>
          Este proyecto es de carácter nacional y está diseñado para ser instalado y resguardado por las comunidades
          locales e indígenas que habitan dichos territorios, en un esquema de monitoreo comunitario y ciencia ciudadana
          el cual es auspiciado por la CONABIO a partir del 2019 con asesoría de la Universidad de Stanford y la
          Universidad Nacional Autónoma de México.
        </p>
      </section>
    </div>
  </div>

  <div class="bg-black">
    <div class="flex-row margin-1">
      <section class="text-section box-1 flex-item-1 flex-col align-items-center">
        <p class="flex-item-1 h-auto">
          SiPeCaM permite evaluar el efecto de la defaunación —extinción de individuos y especies animales— producto de
          la actividad humana mediante cámaras trampa y grabadoras de sonidos. Parte de los resultados de este proyecto
          permitirán además dar recomendaciones pertinentes en la evaluación de la efectividad de proyectos sustentables
          e incorporar información clave en el Índice de Integridad Ecosistémica desarrollado por la CONABIO en
          colaboración con el INECOL A.C. y que actualmente solo incorpora información de vegetación.
        </p>
      </section>
    </div>
  </div>

  <div class="margin-1">
    <section>
      <div class="box-title">
        <span>Equipo</span>
      </div>
    </section>

    <div class="flex-row justify-content-center align-items-center">
      <!-- 1. Rodolfo-->
      <section class="text-section box-1 flex-item-1">
        <div class="flex-col justify-content-center align-items-center flex-wrap photo bg-1 filter-1">
          <img src="assets/equipo/RDirzo.jpg" />
        </div>
      </section>

      <!-- 2. Mariana -->
      <section class="text-section box-1 flex-item-1">
        <div class="flex-col justify-content-center align-items-center flex-wrap photo bg-2 filter-2">
          <img src="assets/equipo/Mariana.jpg" />
        </div>
      </section>

      <!-- 3. Pedro -->
      <section class="text-section box-1 flex-item-1">
        <div class="flex-col justify-content-center align-items-center flex-wrap photo bg-3 filter-3">
          <img src="assets/equipo/Pedro.png" />
        </div>
      </section>

      <!-- 4. Santiago -->
      <section class="text-section box-1 flex-item-1">
        <div class="flex-col justify-content-center align-items-center flex-wrap photo bg-4 filter-4">
          <img src="assets/equipo/Santiago.jpg" />
        </div>
      </section>
    </div>

    <div class="flex-row justify-content-center align-items-center">
      <!-- 5. Everardo -->
      <section class="text-section box-1 flex-item-1">
        <div class="flex-col justify-content-center align-items-center flex-wrap photo bg-5 filter-5">
          <img src="assets/equipo/Everardo.png" />
        </div>
      </section>

      <!-- 6. Oliver -->
      <section class="text-section box-1 flex-item-1">
        <div class="flex-col justify-content-center align-items-center flex-wrap photo bg-6 filter-6">
          <img src="assets/equipo/Oliver.png" />
        </div>
      </section>

      <!-- 7. Julian -->
      <section class="text-section box-1 flex-item-1">
        <div class="flex-col justify-content-center align-items-center flex-wrap photo bg-7 filter-7">
          <img src="assets/equipo/Julian.png" />
        </div>
      </section>

      <!-- 8. Alex -->
      <section class="text-section box-1 flex-item-1">
        <div class="flex-col justify-content-center align-items-center flex-wrap photo bg-8 filter-8">
          <img src="assets/equipo/Alex.jpg" />
        </div>
      </section>
    </div>

    <div class="flex-row justify-content-center align-items-center">
      <!-- 9. Miguel -->
      <section class="text-section box-1 flex-item-1">
        <div class="flex-col justify-content-center align-items-center flex-wrap photo bg-9 filter-9">
          <img src="assets/equipo/Miguel.jpg" />
        </div>
      </section>

      <!-- 10. Francisco -->
      <section class="text-section box-1 flex-item-1">
        <div class="flex-col justify-content-center align-items-center flex-wrap photo bg-10 filter-10">
          <img src="assets/equipo/Francisco.jpg" />
        </div>
      </section>
    </div>
  </div>
</div>
