<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>¿Quiénes somos?</ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">
  <section class="parallax bg-logo box-1 flex-item-1"></section>

  <div class="margin-x1">
    <section>
      <div class="box-title">
        <span>Proyecto</span>
      </div>
    </section>

    <div class="flex-row">
      <section class="text-section box-1 flex-item-1">
        <p>
          Los Sitios Permanentes de Calibración y Monitoreo de la Biodiversidad (SiPeCaM) es un proyecto nacional que
          tiene como objetivo reconocer la importancia en que la biodiversidad está asociada al bienestar de la salud
          humana en relación con las enfermedades zoonóticas, mediante la evaluación de la condición de los ecosistemas
          terrestres en el país.
        </p>
      </section>

      <section class="text-section box-1 flex-item-1">
        <p>
          Este proyecto es de carácter nacional y está diseñado para ser instalado y resguardado por las comunidades
          locales e indígenas que habitan dichos territorios, en un esquema de monitoreo comunitario y ciencia ciudadana
          el cual es auspiciado por la CONABIO a partir del 2019 con asesoría de la Universidad de Stanford y la
          Universidad Nacional Autónoma de México.
        </p>
      </section>
    </div>
  </div>

  <div class="bg-black">
    <div class="flex-row margin-x1">
      <section class="text-section box-1 flex-item-1 flex-col align-items-center">
        <p class="flex-item-1 h-auto">
          SiPeCaM permite evaluar el efecto de la defaunación —extinción de individuos y especies animales— producto de
          la actividad humana mediante cámaras trampa y grabadoras de sonidos. Parte de los resultados de este proyecto
          permitirán además dar recomendaciones pertinentes en la evaluación de la efectividad de proyectos sustentables
          e incorporar información clave en el Índice de Integridad Ecosistémica desarrollado por la CONABIO en
          colaboración con el INECOL A.C. y que actualmente solo incorpora información de vegetación.
        </p>
      </section>
    </div>
  </div>

  <div class="margin-x1">
    <section>
      <div class="box-title">
        <span>Equipo</span>
      </div>
    </section>

    <div class="flex-row justify-content-space-between align-items-flex-start padding-1">
      <!-- 1. Rodolfo-->
      <section>
        <div class="flex-col justify-content-center align-items-center photo bg-1 filter-1">
          <img src="assets/equipo/RDirzo.jpg" />
        </div>

        <div class="text-1 text-align-center">Dr. Rodolfo Dirzo</div>
        <div class="text-2 text-align-center">Biología</div>
      </section>

      <!-- 2. Mariana -->
      <section class="flex-col justify-content-center">
        <div class="flex-col justify-content-center align-items-center photo bg-2 filter-2">
          <img src="assets/equipo/Mariana.jpg" />
        </div>

        <div class="text-1 text-align-center">Dr. Mariana Munguía Carrara</div>
        <div class="text-2 text-align-center">Biología Ambiental</div>
      </section>

      <!-- 3. Pedro -->
      <section>
        <div class="flex-col justify-content-center align-items-center photo bg-3 filter-3">
          <img src="assets/equipo/Pedro.png" />
        </div>

        <div class="text-1 text-align-center">Biól. Pedro Gabriel Díaz Maeda</div>
        <div class="text-2 text-align-center">Ecología y Sistemas de Información Geográfica</div>
      </section>

      <!-- 4. Santiago -->
      <section>
        <div class="flex-col justify-content-center align-items-center photo bg-4 filter-4">
          <img src="assets/equipo/Santiago.jpg" />
        </div>

        <div class="text-1 text-align-center">Mtro. Santiago Martínez Balvanera</div>
        <div class="text-2 text-align-center">Matemáticas</div>
      </section>
    </div>

    <div class="flex-row justify-content-space-between align-items-flex-start padding-1">
      <!-- 5. Everardo -->
      <section>
        <div class="flex-col justify-content-center align-items-center photo bg-5 filter-5">
          <img src="assets/equipo/Everardo.png" />
        </div>

        <div class="text-1 text-align-center">Mtro. Everardo Robredo Esquivelzeta</div>
        <div class="text-2 text-align-center">Biología</div>
      </section>

      <!-- 6. Oliver -->
      <section>
        <div class="flex-col justify-content-center align-items-center photo bg-6 filter-6">
          <img src="assets/equipo/Oliver.png" />
        </div>

        <div class="text-1 text-align-center">Dr. Oliver López Corona</div>
        <div class="text-2 text-align-center">Física Aplicada a la Ecologia</div>
      </section>

      <!-- 7. Julian -->
      <section>
        <div class="flex-col justify-content-center align-items-center photo bg-7 filter-7">
          <img src="assets/equipo/Julian.png" />
        </div>

        <div class="text-1 text-align-center">Mtro. Julián Equihua Benítez</div>
        <div class="text-2 text-align-center">Ciencia de Datos</div>
      </section>

      <!-- 8. Alex -->
      <section>
        <div class="flex-col justify-content-center align-items-center photo bg-8 filter-8">
          <img src="assets/equipo/Alex.jpg" />
        </div>

        <div class="text-1 text-align-center">Dr. Alejandro Ponce Mendoza</div>
        <div class="text-2 text-align-center">Ecología Numérica</div>
      </section>
    </div>

    <div class="flex-row justify-content-space-between align-items-flex-start padding-1">
      <!-- 9. Miguel -->
      <section>
        <div class="flex-col justify-content-center align-items-center photo bg-9 filter-9">
          <img src="assets/equipo/Miguel.jpg" />
        </div>

        <div class="text-1 text-align-center">Mtro. Miguel Angel Piña Avelino</div>
        <div class="text-2 text-align-center">Ciencias e Ingeniería de la Computación</div>
      </section>

      <!-- 10. Francisco -->
      <section>
        <div class="flex-col justify-content-center align-items-center photo bg-10 filter-10">
          <img src="assets/equipo/Francisco.jpg" />
        </div>

        <div class="text-1 text-align-center">Ing. Francisco Javier Ramírez Paredes</div>
        <div class="text-2 text-align-center">Ciencias e Ingeniería de la Computación</div>
      </section>
    </div>
  </div>
</div>
