.content {
  font-size: 20px;
  overflow-y: scroll;
  font-family: "Poppins", serif;

  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-start {
  align-items: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-item-1 {
  flex-basis: 100%;
  flex-grow: 1;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-x1 {
  margin-left: 13%;
  margin-right: 13%;
}

.margin-y1 {
  margin-bottom: 450px;
}

.padding-1 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slider {
  height: 100%;
}

.section-shadow {
  transition: box-shadow 0.1s ease-in-out;
}
.section-shadow:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 20px;
}

// box
// ------- -------

.box-title {
  height: auto;
  padding-top: 60px;
  width: 100%;
  text-align: left;
  color: #000;

  span {
    padding: 18px;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: 700;
  }
}

.box-1 {
  width: 100%;
}

.box-full {
  width: 100%;
  height: 100%;
}

.box-popup {
  position: absolute;
  z-index: 100;
  background: #fff;
}

// text
// ------- -------
.caption {
  position: absolute;
  left: 0;
  top: 3%;
  width: 100%;
  text-align: center;
  color: #000;

  span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
}

.text-bold {
  font-weight: 700;
}

.text-section {
  padding: 20px 20px;
  text-align: justify;
  font-size: 15px;
}

.text-popup-1 {
  text-align: justify;
  padding-top: 15px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  font-weight: lighter;
  color: rgb(40, 47, 51);
}

// background
// ------- -------
.bg-black {
  background-color: #000;
}

// logos
// ------- -------
.intro-box {
  min-height: 480px;

  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.bg-logo-1 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/logo-blanco.png);
}

.bg-logo-100 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/logo.png);
}

.bg-logo-2 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/bg/Fauna_Flora_SiPeCaM-02.png);
}

.bg-logo-3 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/bg/Fauna_Flora_SiPeCaM-03.png);
}

.bg-logo-4 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/bg/Fauna_Flora_SiPeCaM-04.png);
}

.bg-logo-5 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/bg/Fauna_Flora_SiPeCaM-05.png);
}

.bg-logo-6 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/bg/Fauna_Flora_SiPeCaM-06.png);
}

.bg-logo-7 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/bg/Fauna_Flora_SiPeCaM-07.png);
}

.bg-logo-8 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/bg/Fauna_Flora_SiPeCaM-08.png);
}
// ------- -------

.h-auto {
  height: fit-content;
}

.bg-equipo {
  /* Full height */
  min-height: 100%;
  background-image: url(../../assets/equipo/equipo.jpg);
}

h1 {
  text-align: center;
}

.text-1 {
  padding-top: 10px;
  font-size: 14px;
  color: rgb(40, 47, 51);
}

.text-2 {
  font-size: 12px;
  font-weight: lighter;
  color: rgb(125, 129, 131);
}

.info {
  align-self: flex-end;
  margin: 3rem 1rem 1rem;
  text-align: right;
  font-size: 0.85em;
  font-style: italic;
  font-family: serif;
  opacity: 0.75;

  a {
    color: inherit;
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

// photos
// ------- -------
.photo {
  width: 360px;
  height: 360px;
  text-align: center;
  padding: 25px;
  padding-bottom: 0px;

  img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    background-size: cover;
    box-shadow: 0 0 8px 8px white inset;
  }
}
// ------- -------

// photo 1 (Rodolfo)
// ------- -------
.photo-1 {
  img {
    filter: grayscale(1) brightness(1.3);
  }
}

.photo-1-hover {
  background-image: url(../../assets/bg/bg-13.jpg);
  img {
    filter: grayscale(0) brightness(1.1) sepia(0.7);
  }
}

// ------- -------

// photo 2 (Mariana)
// ------- -------
.photo-2 {
  img {
    filter: grayscale(1) brightness(1);
  }
}

.photo-2-hover {
  background-image: url(../../assets/bg/bg-7.jpg);
  img {
    filter: grayscale(0) brightness(1);
  }
}
// ------- -------

// photo 3 (Pedro)
// ------- -------
.photo-3 {
  img {
    filter: grayscale(1) brightness(1);
  }
}

.photo-3-hover {
  background-image: url(../../assets/bg/bg-21.jpg);
  img {
    filter: grayscale(0) brightness(1) sepia(0.7);
  }
}
// ------- -------

// photo 4 (Santiago)
// ------- -------
.photo-4 {
  img {
    filter: grayscale(1) brightness(5);
  }
}

.photo-4-hover {
  background-image: url(../../assets/bg/bg-10.jpg);
  img {
    filter: grayscale(0) brightness(3.5);
  }
}
// ------- -------

// photo 5 (Everardo)
// ------- -------
.photo-5 {
  img {
    filter: grayscale(1) brightness(2);
  }
}

.photo-5-hover {
  background-image: url(../../assets/bg/bg-14.jpg);
  img {
    filter: grayscale(0) brightness(1);
  }
}
// ------- -------

// photo 6 (Oliver)
// ------- -------
.photo-6 {
  img {
    filter: grayscale(1) brightness(1.3);
  }
}

.photo-6-hover {
  background-image: url(../../assets/bg/bg-15.jpg);
  background-size: 100% 100%;
  background-position-x: -110px;
  img {
    filter: grayscale(0) brightness(1);
  }
}
// ------- -------

// photo 7 (Julián)
// ------- -------
.photo-7 {
  img {
    filter: grayscale(1) brightness(1.5);
  }
}

.photo-7-hover {
  background-image: url(../../assets/bg/bg-12.jpg);
  img {
    filter: grayscale(0) brightness(1);
  }
}
// ------- -------

// photo 8 (Alex)
// ------- -------
.photo-8 {
  img {
    filter: grayscale(1) brightness(1.5);
  }
}

.photo-8-hover {
  background-image: url(../../assets/bg/bg-16.jpg);
  background-size: 100% 100%;
  background-position-x: -110px;
  img {
    filter: grayscale(0) brightness(1);
  }
}
// ------- -------

// photo 9 (Miguel)
// ------- -------
.photo-9 {
  img {
    filter: grayscale(1) brightness(1.2);
  }
}

.photo-9-hover {
  background-image: url(../../assets/bg/bg-18.jpg);
  background-size: 120% 120%;
  background-position: -80px -80px;
  img {
    filter: grayscale(0) brightness(1);
  }
}
// ------- -------

// photo 10 (Francisco)
// ------- -------
.photo-10 {
  img {
    filter: grayscale(1) brightness(1.5);
  }
}

.photo-10-hover {
  background-image: url(../../assets/bg/bg-20.jpg);
  background-position: -100px 0px;
  img {
    filter: grayscale(0) brightness(1);
  }
}
// ------- -------
