<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="font-family">¿Quiénes somos?</ion-title>
  </ion-toolbar>
</ion-header>

<div class="content" [style.background-color]="bgColor">
  <section class="flex-item-1">
    <div class="position-relative intro-box" [style.background-color]="bgColor">
      <div *ngIf="introState <= 1" class="bg-logo-1 position-absolute box-full"></div>
      <div
        @logoOut
        *ngIf="introState === 2 || introState >= 102 || hoverLineId === 2"
        class="bg-logo-2 position-absolute box-full"
      ></div>
      <div
        @logoOut
        *ngIf="introState === 3 || introState >= 103 || hoverLineId === 3"
        class="bg-logo-3 position-absolute box-full"
      ></div>
      <div
        @logoOut
        *ngIf="introState === 4 || introState >= 104 || hoverLineId === 4"
        class="bg-logo-4 position-absolute box-full"
      ></div>
      <div
        @logoOut
        *ngIf="introState === 5 || introState >= 105 || hoverLineId === 5"
        class="bg-logo-5 position-absolute box-full"
      ></div>
      <div
        @logoOut
        *ngIf="introState === 6 || introState >= 106 || hoverLineId === 6"
        class="bg-logo-6 position-absolute box-full"
      ></div>
      <div
        @logoOut
        *ngIf="introState === 7 || introState >= 107 || hoverLineId === 7"
        class="bg-logo-7 position-absolute box-full"
      ></div>
      <div
        @logoOut
        *ngIf="introState === 8 || introState >= 108 || hoverLineId === 8"
        class="bg-logo-8 position-absolute box-full"
      ></div>
      <div *ngIf="introState === 100 && hoverLineId === 0" class="bg-logo-100 position-absolute box-full"></div>
    </div>
  </section>

  <div class="flex-row margin-x1 justify-content-center align-items-center lines-container">
    <div
      *ngIf="introState >= 102 || introState === 100"
      class="line bg-color-2"
      (mouseenter)="onLineEnter(2)"
      (mouseleave)="onLineLeave()"
    ></div>
    <div
      *ngIf="introState >= 103 || introState === 100"
      class="line bg-color-3"
      (mouseenter)="onLineEnter(3)"
      (mouseleave)="onLineLeave()"
    ></div>
    <div
      *ngIf="introState >= 104 || introState === 100"
      class="line bg-color-4"
      (mouseenter)="onLineEnter(4)"
      (mouseleave)="onLineLeave()"
    ></div>
    <div
      *ngIf="introState >= 105 || introState === 100"
      class="line bg-color-5"
      (mouseenter)="onLineEnter(5)"
      (mouseleave)="onLineLeave()"
    ></div>
    <div
      *ngIf="introState >= 106 || introState === 100"
      class="line bg-color-6"
      (mouseenter)="onLineEnter(6)"
      (mouseleave)="onLineLeave()"
    ></div>
    <div
      *ngIf="introState >= 107 || introState === 100"
      class="line bg-color-7"
      (mouseenter)="onLineEnter(7)"
      (mouseleave)="onLineLeave()"
    ></div>
    <div
      *ngIf="introState >= 108 || introState === 100"
      class="line bg-color-8"
      (mouseenter)="onLineEnter(8)"
      (mouseleave)="onLineLeave()"
    ></div>
  </div>

  <div class="margin-x1">
    <section>
      <div class="box-title">
        <span>Proyecto</span>
      </div>

      <div class="box-subtitle">
        Tiene como objetivo reconocer la importancia en que la biodiversidad está asociada al bienestar de la salud
        humana.
      </div>
    </section>

    <div class="flex-row">
      <section class="text-section box-1 flex-item-1">
        <p>
          Los Sitios Permanentes de Calibración y Monitoreo de la Biodiversidad (SiPeCaM) es un proyecto nacional que
          tiene como objetivo reconocer la importancia en que la biodiversidad está asociada al bienestar de la salud
          humana en relación con las enfermedades zoonóticas, mediante la evaluación de la condición de los ecosistemas
          terrestres en el país.
        </p>
      </section>

      <section class="text-section box-1 flex-item-1">
        <p>
          Este proyecto es de carácter nacional y está diseñado para ser instalado y resguardado por las comunidades
          locales e indígenas que habitan dichos territorios, en un esquema de monitoreo comunitario y ciencia ciudadana
          el cual es auspiciado por la CONABIO a partir del 2019 con asesoría de la Universidad de Stanford y la
          Universidad Nacional Autónoma de México.
        </p>
      </section>
    </div>
  </div>

  <div>
    <div class="flex-row margin-x1">
      <section class="text-section box-1 flex-item-1 flex-col align-items-center">
        <p class="flex-item-1 h-auto">
          SiPeCaM permite evaluar el efecto de la defaunación —extinción de individuos y especies animales— producto de
          la actividad humana mediante cámaras trampa y grabadoras de sonidos. Parte de los resultados de este proyecto
          permitirán además dar recomendaciones pertinentes en la evaluación de la efectividad de proyectos sustentables
          e incorporar información clave en el Índice de Integridad Ecosistémica desarrollado por la CONABIO en
          colaboración con el INECOL A.C. y que actualmente solo incorpora información de vegetación.
        </p>
      </section>
    </div>
  </div>

  <div class="margin-x1 margin-y1">
    <section>
      <div class="box-title">
        <span>Equipo</span>
      </div>
    </section>

    <div class="flex-row justify-content-space-between align-items-flex-start padding-1">
      <!-- 1. Rodolfo-->
      <section
        class="position-relative"
        [class.section-shadow]="hoverItemId === 'rodolfo'"
        (mouseenter)="onMouseEnter('rodolfo')"
        (mouseleave)="onMouseLeave()"
      >
        <div
          class="flex-col justify-content-center align-items-center photo photo-1"
          [class.photo-1-hover]="hoverItemId === 'rodolfo'"
        >
          <img src="assets/equipo/RDirzo.jpg" />
        </div>

        <div class="text-1 text-align-center" [class.text-bold]="hoverItemId === 'rodolfo'">Dr. Rodolfo Dirzo</div>
        <div class="text-2 text-align-center">Biología</div>

        <ng-container
          *ngIf="hoverItemId === 'rodolfo'"
          (mouseenter)="onMouseEnter('rodolfo')"
          (mouseleave)="onMouseLeave()"
        >
          <div class="box-popup text-popup-1">
            <p>
              Estudió biología en la Universidad Autónoma de Morelos. Después, llevó a cabo su maestría y doctorado en
              la Universidad de Gales, Gran Bretaña, estudiando la ecología evolutiva de la relación entre plantas y
              animales. A su regreso a México se incorporó a la UNAM, donde ha sido investigador en el Instituto de
              Biología e Instituto de Ecología; Director de la Estación Biológica Los Tuxtlas, e Investigador del
              Instituto de Ecología. Su trabajo en Los Tuxtlas contribuyó a la declaración de la Reserva de la Biosfera
              de Los Tuxtlas.
            </p>
            <p>
              Desde 2005 es profesor en el Departamento de Biología de la Universidad Stanford. Ademas de su
              investigación, dicta cursos de Conservación Biológica, Ecología, y Diversidad Biocultural. Sus campos de
              trabajo son la ecología y la conservación biológica y las consecuencias de la defaunación sobre los
              ecosistemas y la salud humana.
            </p>
          </div>
        </ng-container>
      </section>

      <!-- 2. Mariana -->
      <section
        class="position-relative"
        [class.section-shadow]="hoverItemId === 'mariana'"
        (mouseenter)="onMouseEnter('mariana')"
        (mouseleave)="onMouseLeave()"
      >
        <div
          class="flex-col justify-content-center align-items-center photo photo-2"
          [class.photo-2-hover]="hoverItemId === 'mariana'"
        >
          <img src="assets/equipo/Mariana.jpg" />
        </div>

        <div class="text-1 text-align-center" [class.text-bold]="hoverItemId === 'mariana'">
          Dr. Mariana Munguía Carrara
        </div>
        <div class="text-2 text-align-center">Biología Ambiental</div>

        <ng-container
          *ngIf="hoverItemId === 'mariana'"
          (mouseenter)="onMouseEnter('mariana')"
          (mouseleave)="onMouseLeave()"
        >
          <div class="box-popup text-popup-1">
            <p>
              Bióloga, estudió en la Universidad Nacional Autónoma de México. Con interés en el área de la conservación
              de la biodiversidad y en conocer las variables determinantes de la distribución geográfica de las
              especies.
            </p>
            <p>
              Actualmente participa en la implementación del monitoreo multitaxa para detectar procesos de defaunación,
              los cambios en la diversidad funcional y composición de las comunidades ecológicas. Así como los efectos
              en la salud humana como consecuencia de la pérdida de la biodiversidad por causa de las actividades
              antropogénicas.
            </p>
          </div>
        </ng-container>
      </section>

      <!-- 3. Pedro -->
      <section
        class="position-relative"
        [class.section-shadow]="hoverItemId === 'pedro'"
        (mouseenter)="onMouseEnter('pedro')"
        (mouseleave)="onMouseLeave()"
      >
        <div
          class="flex-col justify-content-center align-items-center photo photo-3"
          [class.photo-3-hover]="hoverItemId === 'pedro'"
        >
          <img src="assets/equipo/Pedro.png" />
        </div>

        <div class="text-1 text-align-center" [class.text-bold]="hoverItemId === 'pedro'">
          Biól. Pedro Gabriel Díaz Maeda
        </div>
        <div class="text-2 text-align-center">Ecología y Sistemas de Información Geográfica</div>

        <ng-container
          *ngIf="hoverItemId === 'pedro'"
          (mouseenter)="onMouseEnter('pedro')"
          (mouseleave)="onMouseLeave()"
        >
          <div class="box-popup text-popup-1">
            <p>
              Biólogo. Mi interés se centra en el estudio de las comunidades vegetales, su estructura, composición y
              funcionamiento, así como su clasificación, dinámica y distribución en el territorio.
            </p>

            <p>
              Dadas las presiones ejercidas por nuestra especie sobre los recursos naturales resulta impostergable el
              establecimiento de sistemas de monitoreo robustos que nos permitan valorar los impactos sobre los
              ecosistemas de una forma geográficamente explícita, así la información generada acerca de la salud e
              integridad de los mismos podrá servir de mejor manera a los tomadores de decisiones, tanto regionales como
              locales, acerca de las acciones a seguir para su conservación y manejo. Asistir en la instrumentación de
              un sistema de monitoreo es una de mis principales actividades.
            </p>
          </div>
        </ng-container>
      </section>

      <!-- 4. Santiago -->
      <section
        class="position-relative"
        [class.section-shadow]="hoverItemId === 'santiago'"
        (mouseenter)="onMouseEnter('santiago')"
        (mouseleave)="onMouseLeave()"
      >
        <div
          class="flex-col justify-content-center align-items-center photo photo-4"
          [class.photo-4-hover]="hoverItemId === 'santiago'"
        >
          <img src="assets/equipo/Santiago.jpg" />
        </div>

        <div class="text-1 text-align-center" [class.text-bold]="hoverItemId === 'santiago'">
          Mtro. Santiago Martínez Balvanera
        </div>
        <div class="text-2 text-align-center">Matemáticas</div>

        <ng-container
          *ngIf="hoverItemId === 'santiago'"
          (mouseenter)="onMouseEnter('santiago')"
          (mouseleave)="onMouseLeave()"
        >
          <div class="box-popup text-popup-1">
            <p>
              Matemático. Me interesa estudiar las formas en las que la biodiversidad manifiesta, a través del sonido,
              información acerca de su composición y dinámica. Junto con mi equipo, trabajamos para generar herramientas
              analíticas y computacionales que permitan extraer información ecológica de grabaciones sonoras de campo.
              Buscamos impulsar a la acústica como un instrumento eficiente de monitoreo de la biodiversidad en México.
            </p>
          </div>
        </ng-container>
      </section>
    </div>

    <div class="flex-row justify-content-space-between align-items-flex-start padding-1">
      <!-- 5. Everardo -->
      <section
        class="position-relative"
        [class.section-shadow]="hoverItemId === 'everardo'"
        (mouseenter)="onMouseEnter('everardo')"
        (mouseleave)="onMouseLeave()"
      >
        <div
          class="flex-col justify-content-center align-items-center photo photo-5"
          [class.photo-5-hover]="hoverItemId === 'everardo'"
        >
          <img src="assets/equipo/Everardo.png" />
        </div>

        <div class="text-1 text-align-center" [class.text-bold]="hoverItemId === 'everardo'">
          Mtro. Everardo Robredo Esquivelzeta
        </div>
        <div class="text-2 text-align-center">Biología</div>

        <ng-container
          *ngIf="hoverItemId === 'everardo'"
          (mouseenter)="onMouseEnter('everardo')"
          (mouseleave)="onMouseLeave()"
        >
          <div class="box-popup text-popup-1">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
              like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </ng-container>
      </section>

      <!-- 6. Oliver -->
      <section
        class="position-relative"
        [class.section-shadow]="hoverItemId === 'oliver'"
        (mouseenter)="onMouseEnter('oliver')"
        (mouseleave)="onMouseLeave()"
      >
        <div
          class="flex-col justify-content-center align-items-center photo photo-6"
          [class.photo-6-hover]="hoverItemId === 'oliver'"
        >
          <img src="assets/equipo/Oliver.png" />
        </div>

        <div class="text-1 text-align-center" [class.text-bold]="hoverItemId === 'oliver'">Dr. Oliver López Corona</div>
        <div class="text-2 text-align-center">Física Aplicada a la Ecologia</div>

        <ng-container
          *ngIf="hoverItemId === 'oliver'"
          (mouseenter)="onMouseEnter('oliver')"
          (mouseleave)="onMouseLeave()"
        >
          <div class="box-popup text-popup-1">
            <p>
              Fisico e investigador de Cátedras CONACyT en CONABIO, trabajo principalmente en un marco teórico
              (termodinámico-informacional) de la Salud Ecosistémica que incluya el estado actual de salud en términos
              de composición, estructura y función (Integridad); la dinámica del sistema (criticalidad); y el tipo de
              respuesta a perturbaciones externas (Antifragilidad). En esa misma línea, busco cómo expandir nuestro
              marco teórico a la otras escalas para medir la salud planetaria y relacionado con ello, cómo reinterpretar
              la crisis planetaria en términos no de un Antropoceno sino Tecnoceno. Página personal:
              www.lopezoliver.otrasenda.org
            </p>
          </div>
        </ng-container>
      </section>

      <!-- 7. Julian -->
      <section
        class="position-relative"
        [class.section-shadow]="hoverItemId === 'julian'"
        (mouseenter)="onMouseEnter('julian')"
        (mouseleave)="onMouseLeave()"
      >
        <div
          class="flex-col justify-content-center align-items-center photo photo-7"
          [class.photo-7-hover]="hoverItemId === 'julian'"
        >
          <img src="assets/equipo/Julian.png" />
        </div>

        <div class="text-1 text-align-center" [class.text-bold]="hoverItemId === 'julian'">
          Mtro. Julián Equihua Benítez
        </div>
        <div class="text-2 text-align-center">Ciencia de Datos</div>

        <ng-container
          *ngIf="hoverItemId === 'julian'"
          (mouseenter)="onMouseEnter('julian')"
          (mouseleave)="onMouseLeave()"
        >
          <div class="box-popup text-popup-1">
            <p>
              Matemático aplicado y geomático. Estoy interesado en la aplicación de la Ciencia de Datos a los problemas
              ecológicos de gran escala. He trabajado principalmente en desarrollar algoritmos de detección de cambios
              con base en imágenes satelitales, en flujos de trabajo para generar cartografía de parámetros
              estructurales de vegetación a nivel nacional para México y en el modelado y estimación de Integridad
              Ecosistémica de los ecosistemas del país.
            </p>
          </div>
        </ng-container>
      </section>

      <!-- 8. Alex -->
      <section
        class="position-relative"
        [class.section-shadow]="hoverItemId === 'alex'"
        (mouseenter)="onMouseEnter('alex')"
        (mouseleave)="onMouseLeave()"
      >
        <div
          class="flex-col justify-content-center align-items-center photo photo-8"
          [class.photo-8-hover]="hoverItemId === 'alex'"
        >
          <img src="assets/equipo/Alex.jpg" />
        </div>

        <div class="text-1 text-align-center" [class.text-bold]="hoverItemId === 'alex'">
          Dr. Alejandro Ponce Mendoza
        </div>
        <div class="text-2 text-align-center">Ecología Numérica</div>

        <ng-container *ngIf="hoverItemId === 'alex'" (mouseenter)="onMouseEnter('alex')" (mouseleave)="onMouseLeave()">
          <div class="box-popup text-popup-1">
            <p>
              ¡Hola! Soy Alex. Estoy interesado en la ecología numérica y funcional y como visualizar esta información
              para la toma de decisiones. Realicé estudios de Tecnología de Alimentos (UIA) y después de trabajar
              brevemente en ordenamientos ecológicos me enamoré de la ecología. En mis estudios de maestría y doctorado
              estuve en el laboratorio de Ecología de Suelos del Departamento de Biotecnología del CINVESTAV. Después
              realicé post-doctorado en ECOSUR-Villahermosa y la UAM-Xochimilco trabajando tanto en selvas, pastizales,
              acahuales, lagunas y lagos con distintos grupos taxonómicos: insectos, peces, aves. Desde el 2015 me
              integré a CONABIO en proyectos relacionados con Agrobiodiversidad.
            </p>
            <p>
              Durante estos años en CONABIO me he enfocado en mostrar la gran cantidad de información a través de
              visualizaciones interactivas. Desde el 2023 me incorporé al proyecto COSMOS. Mis hobbies son andar en
              bici, leer y jugar ajedrez.
            </p>
          </div>
        </ng-container>
      </section>
    </div>

    <div class="flex-row justify-content-space-between align-items-flex-start padding-1">
      <!-- 9. Miguel -->
      <section
        class="position-relative"
        [class.section-shadow]="hoverItemId === 'miguel'"
        (mouseenter)="onMouseEnter('miguel')"
        (mouseleave)="onMouseLeave()"
      >
        <div
          class="flex-col justify-content-center align-items-center photo photo-9"
          [class.photo-9-hover]="hoverItemId === 'miguel'"
        >
          <img src="assets/equipo/Miguel.jpg" />
        </div>

        <div class="text-1 text-align-center" [class.text-bold]="hoverItemId === 'miguel'">
          Mtro. Miguel Angel Piña Avelino
        </div>
        <div class="text-2 text-align-center">Ciencias e Ingeniería de la Computación</div>

        <ng-container
          *ngIf="hoverItemId === 'miguel'"
          (mouseenter)="onMouseEnter('miguel')"
          (mouseleave)="onMouseLeave()"
        >
          <div class="box-popup text-popup-1">
            <p>
              Candidato a Doctor en Ciencias e Ingeniería de la Computación por la UNAM. Tengo interés en la computación
              teórica y práctica.
            </p>
            <p>
              Actualmente colaboro en CONABIO para el procesamiento de datos en el monitoreo de la biodiversidad,
              SIPECAM. Me gusta desarrollar herramientas que permitan resolver distintos tipos de problemas y en el caso
              del monitoreo de la biodiversidad, dar mi granito de arena utilizando mi conocimiento para ayudar en la
              conservación del medio ambiente.
            </p>
          </div>
        </ng-container>
      </section>

      <!-- 10. Francisco -->
      <section
        class="position-relative"
        [class.section-shadow]="hoverItemId === 'francisco'"
        (mouseenter)="onMouseEnter('francisco')"
        (mouseleave)="onMouseLeave()"
      >
        <div
          class="flex-col justify-content-center align-items-center photo photo-10"
          [class.photo-10-hover]="hoverItemId === 'francisco'"
        >
          <img src="assets/equipo/Francisco.jpg" />
        </div>

        <div class="text-1 text-align-center" [class.text-bold]="hoverItemId === 'francisco'">
          Ing. Francisco Javier Ramírez Paredes
        </div>
        <div class="text-2 text-align-center">Ciencias e Ingeniería de la Computación</div>

        <ng-container
          *ngIf="hoverItemId === 'francisco'"
          (mouseenter)="onMouseEnter('francisco')"
          (mouseleave)="onMouseLeave()"
        >
          <div class="box-popup text-popup-1">
            <p>
              Ingeniero de Software. Experimentado en los procesos de construcción y despliegue de sistemas de software,
              con todo lo que ello implica.
            </p>
            <p>
              Estoy conciente de que es urgente toda acción enfocada en el cuidado y preservación de nuestro planeta, y
              siento que es grande la deuda que tenemos en ese aspecto. ¿Cuál es tu definición favorita de la
              naturaleza? Me gusta esa definición que la define como una expresión sublime del amor, ciencia y trabajo
              de Quien la creó, pues menciona los aspectos clave para su cuidado y preservación.
            </p>
          </div>
        </ng-container>
      </section>
    </div>
  </div>
</div>
